body {
  margin: 0;
}

.a, .b {
  float: left;
  width: 50%;
  height: 300px;
}

.a {
  background: teal;
}

.b {
  background: tan;
  position: relative;
}

.y {
  color: red;
}

ul {
  list-style: none;
}

.a li {
  display: inline-block;
}

.b ul {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.b ul li {
  margin-bottom: 10px;
}

.b ul li:nth-child(even) {
  padding-left: 20px;
  opacity: 0.3;
}

.b ul li:nth-child(odd) {
  color: red;
}
